{% extends "workbench/base.html" %}
{% load static %}
{% block workbench_title %}{% block crm_title %}CRM{% endblock %} · Техсфера{% endblock %}
{% block workbench_head %}<link rel="stylesheet" href="{% static 'crm/css/crm.css' %}?v=16"><link rel="stylesheet" href="{% static 'crm/css/spacing.css' %}?v=2">{% endblock %}
{% block workbench_content %}<div class="crm-shell"><div class="crm-content-offset">{% block crm_content %}{% endblock %}</div></div>{% endblock %}
{% block workbench_scripts %}{% block crm_scripts %}{% endblock %}<script src="{% static 'crm/js/crm.js' %}?v=6" defer></script>{% endblock %}
